*/.ipynb_checkpoints
*/virtual
*/build
/New_section13_changed_PANDAS_python_with_csv_json_excel/jupyter_note/.ipynb_checkpoints/
/New_section20_APP3_Data_Analysis_Pandas_Matplotlib/Jupyter_notebooks/.ipynb_checkpoints/
/New_section22_APP4_Web_Development_with_FLASK/my_site_with_venv/virtual/
