<!-- Optional JavaScript; choose one of the two! -->
{% extends 'base_nav.html' %}
{% block content %}
<div class="container">

    {% for post in posts_list %}
    <div class="card m-3">
        <div class="card-body">
            <h2 class="card-title">
                {{post.title | title}}
            </h2>
            <p class="card-text">
                {{post.content | slice:"100"}}...(Read More)
            </p>
            <p class="card-text">
                Author : {{post.author | title}}
            </p>
            <a class="btn btn-primary" href="{% url 'blog_pattern' post.slug %}">Read More</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}

