<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data Collector app</title>
        <link rel="stylesheet" href="./../static/main.css">
    </head>
    <body>
        <center>
            <h1>Data Collector web app</h1>
            <div class="message">
                {{text}}
            </div>
            <div>
                <h3> Thank you for your submission </h3>
                <h4> You will receive an email shortly !! </h4>
            </div>
        </center>
    </body>
</html>